{% extends 'partials/base.html'%}

{% block title %} Bill Page {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Bill</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_orders %}
                                <tr>
                                    <td>{{ item.product.name }}</td>
                                    <td>{% widthratio item.product.selling_price 1 item.order_quantity %}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td>Total</td>
                                    <td>{{ total_price }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <p>Bill number: {{ bill_number }}</p>
        <p>Date: {{ date }}</p>
        <p>User: {{ user.username }}</p>
        <img src="/media/barcode/barcode.png" alt="barcode" class="center" width=300>
        <p>Thank you for shopping with us. Buy again!</p>
        <button type="button" onclick="window.print()" class="btn btn-primary" >Print</button>
    </div>
</div>
{% endblock %}